/* Dropdown */
.data__sekolah__dasar .dropdown__section button {
    border-radius: 0;
    background-color: white !important;
    color: var(--grey) !important;
}
.data__sekolah__dasar .dropdown-menu {
    min-width: 13.8rem !important;
}
/* End dropdown */