/* Tentang */
.visi__section, .geografis__section h4 {
    line-height: 1.5rem;
}
/* End tentang */

/* Visi section */
.visi__section .nomor {
    min-width: 22px;
    height: 22px;
    border-radius: 50%;
}
.visi__section .deskripsi h4 {
    line-height: 1.5rem;
}
.line2 {
    width: 100%;
    height: 1.5px;
    background-color: lightgray;
}
/* End visi section */

/* Struktur organisasi */
.organisasi__section .content {
    padding: .7rem 1.5rem;
    border: 0.5px solid lightgray;
}
.organisasi__section .deskripsi {
    margin-left: 2.3rem;
}
.organisasi__section i {
    transition: var(--main-trans);
}
/* End struktur organisasi */